body {
  background-color: rgb(116, 116, 116);
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  text-align: left;
}   

h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}

h5 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
